<p *ngIf="!(books$ | async)">loading books...</p>
<button  routerLink="/addbooks"  routerLinkActive="active" mat-raised-button color="primary" >Add book form</button>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}   
    </mat-expansion-panel>
  </mat-accordion>
  
